@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  background-color: #F3F3F3;
  width: 95%;
  margin: auto;
  overflow-x: hidden;
}
.img{
  background-color: #535353;
}
.circle-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
}
.input{
  background-color: #F3F3F3;
}